<div class='b-swatch-group'>
  <div class='b-swatch-group__swatch b-card' style='background-color:{{swatchColor}}'></div>
  <div class='b-swatch-group__swatch b-card' style='background-color:{{lightSwatch}}'></div>
  <div class='b-swatch-group__swatch b-card' style='background-color:{{darkSwatch}}'></div>
</div>
