@import 'blocks/b-card';
@import 'blocks/b-swatch-group';

@import 'fonts';

@import 'utility/flexbox';
@import 'utility/flexbox/spacing';
@import 'utility/flexbox/spreading';

.l-spa {
  height: 100vh;
  width: 100vw;
}

.l-nav {
  height: 100vh;
}

.l-nav__vertical-menu {
  position: fixed;
  justify-content: space-around;
}

.l-step {
  height: 100vh;
}

.l-step__body {
  display: block;
}

.u-padding {
  padding: 30px;
}

p {
  margin: 0;
}
