<div class='js-intensity l-step'>
  <p>Choose intensity:</p>
  {{link-to 'Bold' 'palette' (query-params intensity='bold') classNames='pure-button'}}
  {{link-to 'Muted' 'palette' (query-params intensity='muted') classNames='pure-button'}}
</div>
