<p>Choose dark/light:</p>
{{link-to 'Dark' 'palette' (query-params luminosity='dark') classNames='pure-button'}}
{{link-to 'Light' 'palette' (query-params luminosity='light') classNames='pure-button'}}
