<p>Choose warm/cool:</p>
{{link-to 'Warm' 'palette' (query-params temperature='warm') classNames='pure-button'}}
{{link-to 'Cool' 'palette' (query-params temperature='cool') classNames='pure-button'}}
